{% extends "home_base.html" %}
{% load i18n static %}

{% block title %}
    Versatum - {% trans 'About' %}
{% endblock %}


{% block outdoor %}
    <section class="jumbotron pink">
      <div class="container">
        <h1 class="jumbotron-heading"> {% trans "About us" %} </h1>
        <p class="normal">
            {% block page-description %}
                {% blocktrans %} We are a non-profit organization with the goal of creating new technologies to solve human problems {% endblocktrans %}
            {% endblock page-description %}
        </p>
      </div>
    </section>
{% endblock outdoor %}


{% block content %}
<ol class="breadcrumb">
    <li><a href="{% url 'home:homepage' %}"> Home </a></li>
    <li class="active"> {% trans 'About us' %} </li>
</ol>
<h2> The begin  </h2>
{% blocktrans %}
<p>We are a non-profit organization founded in 2017. Our focus empower peoples arround the world to create easy tecnologies to help to solve humans problems.</p>
{% endblocktrans %}
{% blocktrans %}
<p>The major people assimilates the power of tecnology with the whole transformation in our lifes. We want to combine the colaborative cultere of IT and direct then help the people
When two studdents have the idea to start a project that reconcile this new era of tecnology to improve the needy people. There are many way to contribute with the project.
{% endblocktrans %}

{% endblock %}
