{% extends "home_base.html" %}
{% load i18n static %}

{% block outdoor %}
    <section class="jumbotron wine">
      <div class="container">
        <h1 class="jumbotron-heading"> {% trans "Contatos" %}  </h1>
        <p class="normal">
            {% block page-description %}
                {% blocktrans %} Somos uma organização sem fins lucrativos com o objetivo de criar novas tecnologias para solucionar problemas humanos  {% endblocktrans %}
            {% endblock page-description %}
        </p>
      </div>
    </section>
{% endblock outdoor %}


{% block content %}

{% endblock %}
