{% extends "home_base.html" %}
{% load i18n static %}

{% block title %}
    Versatum - {% trans 'Community' %}
{% endblock %}

{% block outdoor %}
    <section class="jumbotron  success">
      <div class="container">
        <h1 class="jumbotron-heading"> {% trans "Community" %}  </h1>
        <p class="normal">
            {% block page-description %}
                {% blocktrans %} We are a non-profit organization with the goal of creating new technologies to solve human problems {% endblocktrans %}
            {% endblock page-description %}
        </p>
      </div>
    </section>
{% endblock outdoor %}


{% block content %}
<ol class="breadcrumb">
    <li><a href="{% url 'home:homepage' %}"> Home </a></li>
    <li class="active"> {% trans 'Community' %} </li>
</ol>


{% endblock %}
