{% load i18n static %}

<html lang="{{ get_current_language  }}">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ===================== FAVICONS ======================== -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/ms-icon-144x144.png' %}">
    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- ==================== CSS ============================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!-- ===================== Font ============================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="{% static 'font/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- ===================================================== -->
    <title> {% block title %} Versatum - {{ title }} {% endblock title %} </title>

    {% block head %}
    {% endblock head %}

</head>
<body>
    {% block nav  %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#id-navbar-collapse" aria-expanded="false">
                    <span class="sr-only"> {% trans 'Menu' %} </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span classs="icon-bar"></span>
                </button>
                <a style="padding:0;"  title="{% trans 'Início' %}"  class="navbar-brand" href="{% url 'home:homepage' %}">
                    <img src="{% static "img/logo-extended.png" %}" alt="Versatum" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="id-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item active">
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <p class="navbar-text">{% trans "Hello" %}, {{ request.user.first_name }}</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}"> <i class="fa fa-user-times"> </i> {% trans 'Logout' %}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"> <i class="fa fa-user"> </i> {% trans 'Login' %} </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">  {% trans 'Register' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
{% block body %}
{% block outdoor %}
<section class="jumbotron orange">
    <div class="container">
        <h1 class="jumbotron-heading">{% block page-title %} Versatum {% endblock page-title %} </h1>
        <p class="normal">
            {% block page-description %}
                {% blocktrans %} We are a non-profit organization with the goal of creating new technologies to solve human problems {% endblocktrans %}
            {% endblock page-description %}
        </p>
    </div>
</section>
{% endblock  %}
{% block main %}
<main class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-2">
                <ul class="nav nav-pills nav-stacked">
                    <li  role="presentation" ><a href="{% url 'blog:articles' %}"> {% trans 'Blog' %} </a></li>
                    <li  role="presentation" ><a href="{% url 'project:home' %}"> {% trans 'Projects' %} </a></li>
                    <li  role="presentation" ><a href="{% url 'home:about' %}"> {% trans 'About us' %} </a></li>
                    <li  role="presentation" ><a href="{% url 'home:help' %}"> {% trans 'Support us' %} </a></li>
                    <li  role="presentation" ><a href="{% url 'home:contacts' %}"> {% trans 'Contacts' %} </a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-10 ">
                {% block content %}
                {% endblock content  %}
            </div>
        </div>
    </div>
</main>
{% endblock main %}
{% endblock body%}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h4> {% trans 'Support us' %} </h4>
                <ul class="simple">
                    <li><a href="{% url 'home:help' %}#helpout"> <i class="fa fa-link"> </i> {% trans 'Help out' %} </a></li>
                    <li><a href="{% url 'home:help' %}#donations"> <i class="fa fa-link"> </i> {% trans 'Donations' %} </a></li>
                    <li><a href="{% url 'home:help' %}#dev"> <i class="fa fa-link"> </i> {% trans 'Development' %} </a></li>
                    <li><a href="{% url 'home:help' %}#disclose"> <i class="fa fa-link"> </i> {% trans 'Disclose our page' %} </a></li>
                </ul>
                <h4> {% trans 'Contact us' %} </h4>
                <ul class="simple">
                    <li>
                        <i class="fa fa-envelope"> </i>
                        {% trans 'E-mail' %}
                        <a href="mailto:contact@versatum.org">
                            contact@versatum.org
                         </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6">
                <h4> {% trans 'Sociais Networks' %} </h4>
                <ul class="simple">
                    <li><a href="#"> <i class="fa fa-facebook-square"> </i> Facebook </a></li>
                    <li><a href="#"> <i class="fa fa-twitter-square"> </i> Twitter </a></li>
                    <li><a href="#"> <i class="fa fa-youtube-square"> </i> Youtube </a></li>
                    <li><a href="{{ github }}"> <i class="fa fa-github"> </i> Github </a></li>
                </ul>
                <h4> {% trans 'Languages' %} </h4>
                <ul class="simple">
                    <li><a href="/pt-br/"> <span class="flag brazil"> </span> {% trans 'Portuguese' %} </a></li>
                    <li><a href="/es/"> <span class="flag spain"> </span> {% trans 'Spanish' %} </a></li>
                    <li><a href="/en/"> <span class="flag usa"> </span> {% trans 'English' %} </a></li>
                </ul>
            </div>
            <div class="col-sm-12">
                <hr>
                <address>
                    <strong> Versatum Org </strong>
                    <p> {% trans 'All right reserved' %}® </p>
                </address>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery-3.1.1.slim.min.js' %}"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    if(typeof($.fn.modal) === 'undefined') {
        document.write('<script src="{% static 'js/bootstrap.min.js' %}"><\/script>');
    }
</script>
<script>
    $(document).ready(function() {
        var $this;
        $("li[role=presentation] a").each(function(index) {
            $this = $(this);
            if ($this.attr('href') === window.location.pathname){
                $this.parent().addClass('active');
            }
        });
    });
</script>

{% block js-script %}

{% endblock js-script %}

</body>
</html>
